<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="novoUsuario.css">
    <title>Novo Usuario</title>
</head>
<body>
    <h1>Novo Usuario</h1>
    <form action="/usuario/novo" method="POST">
        <input type="text" name="primeiro-nome" placeholder="Primeiro Nome" />
        <br>
        <br>
        <input type="text" name="nome-meio" placeholder="Nome do Meio" />
        <br>
        <br>
        <input type="text" name="sobrenome" placeholder="Sobrenome" />
        <br>
        <br>
        <input type="email" name="email" placeholder="E-mail" />
        <br>
        <br>
        <input type="text" name="tel" placeholder="Telefone" />
        <br>
        <br>
        <button type="submit"> Salvar </button>
    </form>
</body>
</html>