*{
    margin: 0; padding: 0; font-size: 100%; color: black; box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}


html, body{
    height: 100%;
}

.grid-column{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    text-align: center;
}